@import 'c/sharedCss';

.button-color {
    margin-left: 10px;
    margin-right: 10px;
    padding: auto;
    --sds-c-button-brand-color-background: var(--primary-color);
  }
  

.cardstyl{
    background: #e7e9ee;
    max-width:fit-content;
    border: 3px #002855 solid;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 0.6);
    
}

.dtable{
    max-width:fit-content;
    
}
.lightform{
    
    margin-top: 0;
    
}
.title{
    font-size: large;
    margin-left: 5px;

}
.txtdetail{
font-size: small;
margin-left: 5px;

}