
.cardstyl{
    background: #e7e9ee;
    max-width:fit-content;
    border: 3px #EAAA00 solid;
    align-items: center;
    align-content: center;
    align-self: center;
}

.dtable{
    max-width:fit-content;
}

.title{
    font-size: medium;

}
.txtdetail{
font-size: small;

}