@import 'c/sharedCss';

.manage-flexbox-container{
    display: flex;
    align-items: normal;
    justify-items: auto;
    
}

@media(max-width: 780px){

    .manage-flexbox-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: auto;
        
    }


}