.unitText{
    color:#002855;
}
.backgroundColor{
    background-color: white;
}
.h1Title{
    color: #002855;
    text-align: center;
    font-size: 1.5em;
}
:host{
    --sds-c-card-color-background: white;
    --slds-c-card-sizing-border: 3px;
    --slds-c-card-color-border: #EAAA00;
    --slds-c-card-shadow: 3px 3px  black;
    
}

.divMediaQuery{
        flex-direction: column;
}