.unitText{
    color:#002855;
    font-size: 1vw;
}
.backgroundColor{
    background-color: #002855;
    border: 3px #EAAA00 solid;
    align-items: center;
}
.h1Title{
    color: #EAAA00;
    text-align: center;
}

@media(max-width: 780px){
    .unitText{
        color:#002855;
        font-size: 2vw;
    }

}