.vacate{

background-color: #002855;
color: #EAAA00;
padding: 2%;
width:90%;
max-height:80vh;
border-radius: 5px;
border-color: #EAAA00;
border-width: 2px;
}




.buttonn{

    border-color: #EAAA00;
    color: white;
    background-color: #002855;
    --sds-c-button-color-: white;
    --slds-c-button-brand-color-background: #002855;
   
}