@import 'c/sharedCss';

@media(min-width: 600px) {
    .hero{
        color: var(--primary-color); 
        text-align: center;
        font-size: 40px;
    }
}

@media(max-width: 600px) {
    .hero{
        color: var(--primary-color); 
        text-align: center;
        font-size: 30px;
    }
}


.card{
    background-color: var(--primary-color);
}