.product-img {
    max-width: 100%;
    
}

.title {
    font-size: large;
    font-style: Bold;
    color: #002855;
}
.des{
    font-size: 12px;
    color: #002855;
}
.container {
    
    border-radius: 5px;
    color: #002855;
    margin:5px;
    padding: 3px;
    max-width: 400px;
    min-height: 300px;
    display: flex;
    
}