@import 'c/sharedCss';
:host {
    --slds-c-badge-font-size: 1em;
}
h2 {
    font-size: 2em;
    color: var(--secondary-color);
}
.container {
    padding: 0 1em 1em 1em;
}
label {
    font-size: var(--slds-c-badge-font-size);
}
